.header-content  h2 {  
font:normal 25pt Comic Sans MS;
   color:#ffffff;

  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-transform: uppercase;
}
.header-content  h3 {  
font:normal 20pt Comic Sans MS;
   color:#ffffff;

  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-transform: uppercase;
  padding-top: 5px;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
}

 .content{

	font: Comic Sans MS;


    background-position: right top;
    margin-right: 800px;
    margin-left: 300px;
    background-attachment: fixed
   }
.login{
	 padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
}
.content1 {

	font: Comic Sans MS;

 
    margin-right: 300px;
    margin-left: 800px;
    background-attachment: fixed

}
.signup{
	 padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 100px;
}
.logbutton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.logbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logbutton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logbutton:hover span {
  padding-right: 25px;
}

.logbutton:hover span:after {
  opacity: 1;
  right: 0;
}
.googlebutton {
  padding: 15px 25px;
  font-size: 24px;

  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.googlebutton:hover {background-color: #ffcc66}

.googlebutton:active {
  background-color: #ffcc66;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.fbbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3366ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.fbbutton:hover {background-color: #009933}

.fbbutton:active {
  background-color: #ffcc66;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}