{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Intelligent Tutoring System</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			</div>   
			<div class="single-page-nav sticky-wrapper" id="tmNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#section1">Home</a></li>
					<li><a href="#section2">Sign In</a></li>
					<li><a href="#section3">Courses</a></li>
					<li><a href="#section4">About</a></li>
				</ul>
			</div>   
		</div>
	</nav>    

	<div id="section1">
		<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="header-content">
							<div class = "animated pulse">
							<h1>Intelligent Tutoring System</h1>
							</div>
							<h4>Learning</h4>
							<h4>at its</h4>
							<h4>Best</h4>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
	<div id="section2">
		<!-- Start Area -->
		<section id="feature-area" class="about-section">
			<div class="container">
				<div class="row text-center inner">
					<div class="col-sm-4">
						<div class="feature-content">
							<img src="{% static 'img/1-2.jpg' %}" alt="Image">
							<h2 class="feature-content-title green-text"><Center>Students</Center></h2>
							<p class="feature-content-description">If you are someone to learn then what are you waiting for? Sign up or Log in to
							 enroll courses,solve quizes</p>
							<a href="{% url "Its_common.views.stlogin" %}" class="feature-content-link green-btn">Want to Learn?</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">
							<img src="{% static 'img/1-4.png' %}" alt="Image">
							<h2 class="feature-content-title blue-text"><Center>Teachers/Mentors/Faculty</Center></h2>
							<p class="feature-content-description">If you are someone who wants to teach? Log in,create your courses
							,classes and share your knowledge</p>                    
							<a href="#" class="feature-content-link blue-btn">Want to Teach?</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="feature-content">
							<img src="{% static 'img/1-3.jpg' %}" alt="Image">
							<h2 class="feature-content-title red-text"></h2>
							<p class="feature-content-description">
							</p>
							<a href="#" class="feature-content-link red-btn">Keep an Eye?</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Area -->

		<!-- Start Area -->
		<section id="blog-area">
			<div class="container">
				<div class="row text-center inner">
					<div class="col-sm-6">
						<div class="blog-content">
							<img src="{% static 'img/1-3.png' %}" alt="Image">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="blog-content">
								<img src="{% static 'img/1-7.jpg' %}" alt="Image">

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Area -->
			</div>
			<div id="section3">
				<!-- Start  Area -->
				<section id="services-area" class="services-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center inner our-service">
								<div class="service">

								</div>
							</div>
						</div>
					</section>
					<!-- End Area -->

					<!-- Start Area -->
					<section id="testimornial-area">
						<div class="container">
							<div class="row text-center">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
									<div class="testimonial-content">
										<img src="{% static '' %}" alt="">

									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
									<div class="testimonial-content">
										<img src="{% static '' %}" alt="">

										<br>
										<p id="redd"></p>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
									<div class="testimonial-content">
										<img src="{% static '' %}" alt="">

										<br>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
									<div class="testimonial-content">
										<img src="{% static 'img/' %}" alt="">
										<h2></h2>
										
									
										<br>
										<p id="dets"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="tm-box">
										<img src="{% static 'img/1-8.png' %}" alt="Image" class="img-responsive">
										<div class="tm-box-description">
 
										</div>                        
									</div>                    
								</div>
							</div>
						</div>
					</section>
					<!-- End Area -->
				</div>
				<div id="section4">
					<!-- Start Area -->
					<section id="contact-area" class="contact-section">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 text-center inner">
									<div class="contact-content">
										<h1>About Us</h1>
										<div class="row">                            
											<div class="col-sm-12">
												</p>
												</div>                            
											</div>

										</div>
									</div>
								</div>

						</section>
						<!-- End Area -->
					</div>

					<!-- Start Area -->
					<footer id="footer-area">
						<div class="container">
							<div class="row text-center">
								<div class="col-sm-12">
                
									</div>
								</div>
							</div>
							<hr>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">             
										<p class="copy">Copyright © CSE@IITK
									</div>
								</div>
							</div>
						</footer>
						<!-- End Area -->

						<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
						<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script> 
						<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
						<script src="{% static 'js/parallax.js-1.3.1/parallax.js' %}"></script> 
						<script>

    // HTML document is loaded. DOM is ready.
    $(function() {  

    // Parallax
        $('.intro-section').parallax({
        	imageSrc: "{% static 'img/basic.gif' %}",
        	speed: 0.2
        });
        $('.services-section').parallax({
        	imageSrc: "{% static 'img/bg-2.jpg' %}",
        	speed: 0.2
    	});
        $('.contact-section').parallax({
        	imageSrc: "{% static 'img/bg-3.jpg' %}",
        	speed: 0.2
        });    

        // jQuery Scroll Up / Back To Top Image
        $.scrollUp({
                scrollName: 'scrollUp',      // Element ID
		        scrollDistance: 300,         // Distance from top/bottom before showing element (px)
		        scrollFrom: 'top',           // 'top' or 'bottom'
		        scrollSpeed: 1000,            // Speed back to top (ms)
		        easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
		        animation: 'fade',           // Fade, slide, none
		        animationSpeed: 300,         // Animation speed (ms)		        
		        scrollText: '', // Text for element, can contain HTML		        
		        scrollImg: true            // Set true to use image		        
            });

        // ScrollUp Placement
        $( window ).on( 'scroll', function() {


            if ( $( document ).height() - $( window ).height() === $( window ).scrollTop() ) {

                $('#scrollUp').css( 'bottom', '80px' );

            } else {      
  
                $('#scrollUp').css( 'bottom', '30px' );        
            }
        });

        $('.single-page-nav').singlePageNav({
        	offset: $('.single-page-nav').outerHeight(),
        	speed: 1500,
        	filter: ':not(.external)',
        	updateHash: true
        });

        $('.navbar-toggle').click(function(){
        	$('.single-page-nav').toggleClass('show');
        });

        $('.single-page-nav a').click(function(){
        	$('.single-page-nav').removeClass('show');
        });
        
    });
</script>
</body>
</html>