{% load staticfiles %}
<html>
<head> 
	<title> 
		Student Login 
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/set1.css' %}">


</head>
<body bgcolor="#b3b3b3">
	<br>
	<br>
	<br>
	<br>
	<div class="header-content">
		<div class = "animated pulse">
			<center>
				<h2> Get Started</h2>
				<h3> To Learn</h3>
				<h3> To Answer</h3>
			</center>
		</div>
	</div>

	<section class="content" >
		<section class="login" style="float:left; width:400px;">
			<center>Login</center>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-4" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
						<span class="input__label-content input__label-content--hoshi">Username or Email</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="password" id="input-5" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
						<span class="input__label-content input__label-content--hoshi">Password</span>
					</label>
				</span>
				<input type="checkbox" name="rememberme">
				<label for="remember">Remember Me</label> <br>
				<br>
		<center><button class="logbutton" type="submit"><span>Submit</span></button> <br>
			<br>
		<a href=""> Forgot Password?</a> </center>
			</section>
	</section>
	<section class="content1" >
		<section class="singup" style="float:left; width:400px;">
			<br>
			<center> Sign Up</center>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="text" id="input-4" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-4">
						<span class="input__label-content input__label-content--hoshi">Username</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="email" id="input-5" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-4" for="input-5">
						<span class="input__label-content input__label-content--hoshi">Email</span>
					</label>
				</span>
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="password" id="input-5" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-5" for="input-5">
						<span class="input__label-content input__label-content--hoshi">Password</span>
					</label>
				</span>	
				<span class="input input--hoshi">
					<input class="input__field input__field--hoshi" type="passowrd" id="input-5" />
					<label class="input__label input__label--hoshi input__label--hoshi-color-6" for="input-5">
						<span class="input__label-content input__label-content--hoshi">Confirm Password</span>
					</label>
				</span>

		<center><button class="logbutton" type="submit"><span>Submit</span></button></center> <br>
			</section>
	</section>
	<svg height="20" width="2000">

 <center> <text style="font:normal 15pt Comic Sans MS; ">OR</text> </center>
</svg>
<br>
<br>
<br>
<center><button class="googlebutton">Login with Google</button> <br> </center>
<br>
<hr sixe="20px">
<br>
<center><button class="fbbutton">Login with Facebook</button></center>

<script src="{% static 'js/classie.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>
	
</body>

</html>